<div class="en"><a class="wrd" href="{{uri}}">{{word}}</a>
    {{~#if subword~}}
        <sup>{{subword}}</sup>
    {{~/if}}
    {{~#if 1}} {{kind}} {{/if~}}
    {{#each sections}}
        {{~#if is_header}}
            {{~#with section~}}
                {{> common/definition_paragraph}}
            {{~/with}}
        {{~else}}
            {{~#with section~}}
                <p class="sec">{{~> common/definition_paragraph~}}</p>
            {{~/with}}
        {{~/if}}
        {{~#if paragraphs~}}
            <ol start="{{definition_start}}">
                {{~#each paragraphs~}}
                    <li>{{~> common/definition_paragraph~}}</li>
                {{~/each~}}
            </ol>
        {{~/if}}
    {{~/each~}}
</div>
