<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/main.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/index.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/search_bar.css">
        <script src="/res/{{{version}}}/scripts/search_bar.js"></script>
        <title>Tamil Dictionary</title>
    </head>
    <body>
        <h1 id="title">Tamil Dictionary</h1>
        {{> common/search_bar focus=true}}
        <div id="search-tips">
            <h2>Search Tips</h2>
            <ul>
                <li>{{example.tamil}} = <code>{{example.latin}}</code></li>
                <li>Find B in definition of A: <code>A : B</code></li>
                <li>Search for either A or B: <code>(A | B)</code></li>
                <li>Vowel/consonant: <code>\V</code>, <code>\C</code></li>
                <li>Match any of a set: <code>[ப்வ்]</code></li>
                <li>Start/end of a word: <code>&lt;</code>, <code>&gt;</code></li>
                <li><a class="plain" href="/grammar">View full grammar</a></li>
            </ul>
        </div>
    </body>
</html>
