<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/main.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/search.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/search_bar.css">
        <script src="/res/{{{version}}}/scripts/search_bar.js"></script>
        {{#if query~}}
            {{#if error~}}
                <title>Search Error for '{{query}}'</title>
            {{~else~}}
                <title>Search Results for '{{query}}'</title>
            {{~/if}}
        {{~else~}}
            <title>Tamil Dictionary</title>
        {{~/if}}
        {{~#if other}}
            {{~#if hide_other~}}
                <script src="/res/{{{version}}}/scripts/search_other.js"></script>
            {{~/if}}
        {{~/if}}
    </head>
    <body>
        {{> common/search_bar}}
        <div id="results">
            {{~#if message~}}
                <p>{{message}}</p>
            {{~/if}}
            {{~#if best_count.num}}
                <h2 class="header">Best Matches</h2>
                <p class="result-count">
                    {{~> common/plural num=best_count s="result" p="results"~}}
                </p>
                {{~#if best}}
                <div id="best">
                    {{#each best~}}
                        {{> common/definition}}
                    {{~/each~}}
                </div>
                {{~/if}}
            {{~/if}}
            {{~#if related}}
                <div id="related">
                    <h2 class="header">Related Words</h2>
                    <p class="result-count">
                        {{~> common/plural num=related_count s="result" p="results"~}}
                    </p>
                    {{#each related~}}
                        {{> common/definition}}
                    {{~/each~}}
                </div>
            {{~/if}}
            {{~#if other}}
                {{~#if hide_other~}}
                    <p id="other-msg">
                        There are some more results which may be less relevant to your search.
                        <a id="other-link" href="{{other_uri}}#other">
                            Show {{other_count.num}} other words.
                        </a>
                    </p>
                    <div id="other" style="display:none;">
                {{~else~}}
                    <div id="other">
                {{~/if}}
                <h2 class="header">Other Words</h2>
                <p class="result-count">
                    {{~> common/plural num=other_count s="result" p="results"~}}
                </p>
                {{#each other~}}
                    {{> common/definition}}
                {{~/each~}}
                </div>
            {{~/if~}}
        </div>
    </body>
</html>
